html {
    font-size: small;
}

body {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: black;
    background-color: white;
}

table {
    max-width: 100%;
    min-width: 300px;
    border-collapse: collapse;
    margin: 0.2rem;
}
table caption {
    font-weight: bold;
}
thead th {
    text-align: center;
    min-width: 3rem;
    background-color: #309040;
    text-transform: uppercase;
}
thead th,
thead th a,
thead th a:visited {
    color: white;
}
th, td {
    border: 1px solid lightgrey;
    padding: 0.2rem 0.3rem;
}
tbody tr:hover td {
    background-color: #cdf;
    border-bottom: 1px solid red;
}

.warning-icon {
    max-height: 16px;
}
.warning {
    background-color: #ff9;
    color: #332;
    padding: 1rem 1rem;
    margin: 0.5rem 0.2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #550;
}

.error {
    background-color: lightyellow;
    color: red;
    padding: 0.1rem 1rem;
    font-weight: bolder;
}

textarea {
    min-width: 15rem;
    min-height: 6rem;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=time],
select,
button,
a.button {
    margin: 0;
    padding: 0.3rem 0;
    box-sizing: border-box;
    line-height: 1rem;
    min-height: 3rem;
}
input[type=number] {
    padding: 0; /* XXX workaround bug in firefox: placeholder being cropped by padding */
}
button,
a.button {
    padding: 0 0.8rem;
}
button img,
.button img {
    max-width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=number]:focus {
    box-shadow: 0 0 5px 0px #aaa;
}

input.stale, input.stale:focus {
    box-shadow: 0px 0px 2px red;
}
input.stale {
    background-color: #f88;
}

button, a.button {
    background-color: #4CAF50;
    border: 1px solid #5b6;
    border-radius: 2px;
    cursor: pointer;
    min-width: 4.8rem;
}

a.button, a.button:visited {
    display: inline-block;
    line-height: 2.8rem;
    height: 3rem;
    padding: 0.1rem 1rem;
    margin: 0.2rem;
    text-decoration: none;
    color: black;
}
button:hover,
a.button:hover {
    background-color: #5b6;
    color: #fff;
}

/* Remove spinners on number input fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
input[type="checkbox"] + span {
    border: 1px solid lightgrey;
    background-color: lightgrey;
    color: grey;
    padding: 0 1rem;
    margin: 0.2rem;
    border-radius: 2px;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
}
input[type="checkbox"]:checked + span {
    border: 1px solid #e0e070;
    background-color: #eded77;
    color: black;
}
input[type="checkbox"] + span {
    display: block;
}

#login-form {
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    margin: 3rem auto 0;
}
#login-form div {
    margin: 1rem auto;
    width: 80%;
    max-width: 300px;
}
#login-form input[type=text],
#login-form input[type=password],
#login-form button {
    width: 100%;
}

a, a:visited { color: red; }
nav a { text-decoration: none; }


nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    list-style-type: none;
}
nav#main-nav li:hover {
    background-color: grey;
}
nav#main-nav li a {
    display: inline-block;
    color: white;
    padding: 0.8rem 1.5rem;
}

/* Subnav menus */
main nav li,
main nav li a {
    display: inline-block;
}


body > main {
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
body > main > * {
    max-width: 840px;
}

header#main-header {
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
}

#debug-panel {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    overflow: hidden;
    background-color: wheat;
    transition: width 2s, height 0.5s, background-color 2s, transform 2s;
}
#debug-panel.visible {
    height: 60%;
}
#debug-panel .tab {
    height: 2rem;
    background-color: orange;
    line-height: 1.5rem;
    padding: 0 0.2rem;
    cursor: pointer;
}
#debug-panel output {
    padding: 0 0.2rem;
    top: 2rem;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.quantity,
.price,
.number { text-align: right; }


.btn-group button,
.btn-group a.button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}
.btn-group button:not(:last-child),
.btn-group a.button:not(:last-child) {
    border-right: none;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
/* Add a background color on hover */
.btn-group button:hover,
.btn-group a.button:hover {
    background-color: #3e8e41;
}
.btn-group button.selected,
.btn-group a.button.selected {
    background-color: #3e8e41; /* same color as hover */
}

.btn-group a { /* Cancel default styling */
    padding: 0;
    margin: 0;
    line-height: initial;
}

section.hidden {
    display: none;
}

input.quantity {
    max-width: 3rem;
    text-align: right;
}

span.rolename,
span.permname,
span.workplacename {
    display: inline-block;
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.1rem;
}
span.rolename {
    border: 1px solid #e0e070;
    background-color: #eded77;
}

span.permname {
    background-color: #bbd;
    border: 1px solid #99d;
}

span.workplacename {
    background-color: #cde;
    border: 1px solid #99d;
}


/* CSS rules for small screens */
@media all and (max-width: 1024px) {

    #nav-trigger {
        position: fixed;
        height: 2rem;
        cursor: pointer;
        margin: 0.5rem;
    }
    #nav-trigger img {
        height: 90%;
    }
    nav#main-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        margin-top: -2rem;
        overflow: hidden;
        padding-top: 3rem;
        background-color: black;
    }

    nav#main-nav.visible {
        display: block;
        width: auto;
        min-width: 200px;
        max-width: 70%;
        max-height: 70%;
        margin-top: auto;
        transition: width 2s, height 0.5s, background-color 0.1s, transform 2s;
    }

    nav#main-nav li {
        padding: 1rem;
    }
    
    aside > div {
        display: inline-block;
    }
}


/* CSS rules for tablets or desktop screens */
@media all and (min-width: 1025px) {

    #nav-trigger { display: none; }
    nav#main-nav {
        position: fixed;
        top: 0;
        height: 2rem;
    }
    nav#main-nav li {
        display: inline-block;
    }

    input[type="checkbox"] + span {
        display: inline-block;
    }
    
    main aside {
        position: fixed;
        right: 1rem;
        top: 5rem;
        width: 18%;
        min-width: 7rem;
        max-width: 300px;
    }

}

@media print {
    .noprint {
        display: none !important;
    }
    body {
        margin: 0;
    }
    body > header, body > footer, nav, aside, #debug-panel {
        display: none;
    }
    th, td {
        page-break-inside: avoid;
    }
    tbody tr {
        background-color: #fff !important;
    }
    tbody tr:nth-child(odd) {
        background-color: #ddd !important;
    }

}
