{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>Page inexistante</h1>
  <p><strong>404 Page Not Found</strong></p>
  <p>Merci de signaler le problème à l'équipe de développement <em>TODO (inclure un moyen de contact ici)</em></p>
</div>
{% endblock content %}
