{% block customcss %}
  <link href="{{request.static_path('eclair:static/eclair.css')}}" rel="stylesheet">
{% endblock customcss %}
{% block content %}
<main>
  <section id="sessiontimout">
    <p>Votre session a expiré.</p>
    <p>Vous allez bientôt revenir automatiquement sur la <a href="{{request.route_path('login')}}">page d'authentification</a>.</p>
  </section>
</main>
{% endblock content %}
{% block customjs %}
<script><!--
setTimeout(
  function () { document.location.replace('{{request.route_path('login')}}'); },
  10000
);
--></script>
{% endblock customjs %}
