{% extends "layout.jinja2" %}
{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 40%;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}
{% block content %}

<form action="" method="POST">
    <div>
        <label>
            <strong>Heure de verrouillage de commandes</strong>
            <input type="time" name="orderlocktime" placeholder="Heure de fin de commande" value="{{ config.orderlocktime }}" />
        </label>
    </div>
    <div>
        <label>
            <strong>Taux conversion prix de vente/prix interne</strong>
            <input id="internal-price-conversion-ratio" type="number" name="internal_price_conversion_ratio" placeholder="55" value="{{ config.internal_price_conversion_ratio }}" step="0.1" min="20" max="100" style="width: 5rem;" />
        </label>
    </div>
    <div>
        <button type="submit">Enregister</button>
    </div>
</form>

{% endblock content %}
{% block customjs %}
{% endblock customjs %}
