{% extends "layout.jinja2" %}

{% block customcss %}
<style type="text/css">
#dashboard .subsection {
    width: 40%;
    min-width: 280px;
    max-width: 40rem;
    float: left;
    margin: 0.5rem;
    padding: 0.3rem;
    box-sizing: border-box;
    display: none;
}
#management a.button {
    width: 100%;
}
</style>
{% endblock customcss %}

{% block content %}
  <section id="dashboard">
{% if user.has_role('superadmin') %}
    <section class="subsection">
      <section id="invoices">
        <h2>Factures du mois dernier</h2>
        <div>
          
        </div>
      </section>

      <section id="orders">
        <h2>Prochaines commandes client</h2>
        <div>
          
        </div>
      </section>

      <section id="prod">
        <h2>Prochains plans de production</h2>
        <div>
          
        </div>
      </section>

      <section id="delivery">
        <h2>Prochains plans de livraison</h2>
        <div>
          
        </div>
      </section>
    </section>
    <section class="subsection" id="management">
      <h2>Gestion</h2>
<!--
      <div>
        <a class="button" href="{{ request.route_path('product_categories') }}"><img alt="folder icon" src="{{ request.static_path('eclair:static/img/folder-64px.png') }}" />Familles/Sous-familles</a>
      </div>
-->
      <div>
        <a class="button" href="{{ request.route_path('products') }}"><img alt="book icon" src="{{ request.static_path('eclair:static/img/book-64px.png') }}" />Catalogues</a>
      </div>
      <div>
        <a class="button" href="{{ request.route_path('workplaces') }}"><img alt="factory icon" src="{{ request.static_path('eclair:static/img/factory-64px.png') }}" />Sites de vente/production</a>
      </div>
      <div>
        <a class="button" href="{{ request.route_path('users') }}"><img alt="user icon" src="{{ request.static_path('eclair:static/img/abstract-user-64px.png') }}" />Comptes utilisateur</a>
      </div>
      <div>
        <a class="button" href="{{ request.route_path('roles') }}"><img alt="diagram icon" src="{{ request.static_path('eclair:static/img/role-64px.png') }}" />Rôles/permissions utilisateur</a>
      </div>
      <div>
        <a class="button" href="{{ request.route_path('config') }}"><img alt="toolset icon" src="{{ request.static_path('eclair:static/img/toolset-64px.png') }}" />Configuration</a>
      </div>
    </section>
{% endif %}

{% if user.has_role('seller') %}
  {% if not user.workplace %}
  <div class="error">
    <p>Votre compte utilisateur n'est rattaché à aucun lieu de travail. En conséquence il n'est pas possible de vous afficher un tableau de bord personnalisé.</p>
    <p>Si vous pensez que c'est une erreur veuillez le signaler.</p>
  </div>
  {% else %}
    <section id="producer-panel">
      <h2>Mes commandes</h2>
      <div><a class="button" href="{{ request.route_path('order', clientname=user.workplace.shortname, refdate='today') }}">Aujourd'hui</a></div>
      <div><a class="button" href="{{ request.route_path('order', clientname=user.workplace.shortname, refdate='tomorrow') }}">Demain</a></div>
      <div><a class="button" href="{{ request.route_path('orders', clientname=user.workplace.shortname, refdate='tomorrow') }}">Les prochaines</a></div>
    </section>
  {% endif %}
{% endif %}
{% if user.has_role('producer') %}
    <section id="producer-panel">
      <h2>Mes plans de production</h2>
      {% if user.workplace %}
      <div><a class="button" href="{{ request.route_path('production_plan', factoryname=user.workplace.shortname, refdate='today') }}">Aujourd'hui</a></div>
      <div><a class="button" href="{{ request.route_path('production_plan', factoryname=user.workplace.shortname, refdate='tomorrow') }}">Demain</a></div>
      <div><a class="button" href="{{ request.route_path('production_plans', factoryname=user.workplace.shortname, refdate='today') }}">Les prochaines</a></div>
      {% endif %}
    </section>
{% endif %}
{% if user.has_role('carrier') %}
    <section id="delivery-panel">
      <h2>Mes plans de livraison</h2>
      {% if user.workplace %}
      <div><a class="button" href="{{ request.route_path('delivery', factoryname=user.workplace.shortname, refdate='today') }}">Aujourd'hui</a></div>
      <div><a class="button" href="{{ request.route_path('delivery', factoryname=user.workplace.shortname, refdate='tomorrow') }}">Demain</a></div>
      {% endif %}
    </section>
{% endif %}

  </section>
{% endblock content %}
{% block customjs %}

{% if user.has_role('superadmin') %}
<script src="{{request.static_path('eclair:static/js/dashboard.js')}}"></script>
<script>
refreshDashboardSuperadmin();
</script>
{% endif %}

{% endblock customjs %}
