{% extends "layout.jinja2" %}

{% block content %}
<aside>
    <div class="btn-group">
        <a id="btn-display-table" class="button{{ ' selected' if request.params.get('fmt', 'table') == 'table' }}" href="{{ request.path }}?fmt=table">Tableau</a>
        <a id="btn-display-list" class="button{{ ' selected' if request.params.get('fmt', 'table') == 'list' }}" href="{{ request.path }}?fmt=list">Liste</a>
    </div>
    <div>
        <button id="btn-print">
            <img alt="Printer icon" src="{{ request.static_path('eclair:static/img/primary-kdeprint-printer-64px.png') }}" />
        </button>
    </div>
</aside>
<nav>
    <ul>
        <li><a class="button" href="{{ prev_refdate }}">&lt;&lt; <strong>{{ prev_refdate | date('medium') }}</strong></a></li>
        <li><strong>{{ refdate | date('medium') }}</strong></li>
        <li><a class="button" href="{{ next_refdate }}"><strong>{{ next_refdate | date('medium') }}</strong> &gt;&gt;</a></li>
    </ul>
</nav>
<h2>Plan de livraison du <span>{{ refdate | date('medium') }}</span> au départ de <span>{{ factoryname }}</span></h2>

{% if request.params.get('fmt', 'table') == 'table' %}
    <table>
        <thead>
            <tr>
                <th>Sous-Fam</th>
                <th>Article</th>
                <th>Total</th>
                {% for cl in clients %}
                <th>{{ cl }}</th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
        {% for l in orderlines %}
        <tr>
            <td>{{ l.product.subcategory_name }}</td>
            <td>{{ l.product.shortname }}</td>
            <td class="quantity"><strong>{{ l.total | quantity }}</strong></td>
            {% for q in l.quantities %}
            <td class="quantity{{ ' orig' if clients[loop.index-1] == factoryname }}">
                {{ q | quantity if q }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% for dest, items in items_by_destination.items() %}
    <div>
        <h3>À destination de {{ dest }}</h3>
        {% for item in items %}
        <div>
        {{ item.quantity_produced or item.quantity_ordered | quantity }} {{ item.product.shortname }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}
{% endblock content %}
