{% block customcss %}
  <link href="{{request.static_path('eclair:static/eclair.css')}}" rel="stylesheet">
{% endblock customcss %}
{% block content %}
<main>
  <section id="forbidden">
    <p>La page demandée nécessite la permission <span class="permname">{{required_permission}}</span>.
    {% if possible_roles %}
    <br/>Pour cela il vous faut un des rôles suivants : {% for r in possible_roles %}<span class="rolename">{{ r | translate_rolename }}</span> {% endfor %}</p>
    {% endif %}
    <p>Si vous pensez que c'est une erreur demandez à la personne qui administre <em>eclair</em> de rectifier vos droits d'accès.
    <p>Vous pouvez maintenant revenir à la page précédente ou bien vous rendre sur votre <a href="{{request.route_path('home')}}">page d'accueil</a>.</p>
  </section>
</main>
{% endblock content %}
