{% extends "layout.jinja2" %}
{% block customcss %}
<style type="text/css">
td img {
    max-height: 24px;
}
</style>
{% endblock customcss %}
{% block content %}

<h2>Factures de {{ factoryname }}</h2>

<table>
    <thead>
        <tr>
            <th>Client</th>
            {% for month in refmonths %}
            <th>{{ month|date('month') }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% for cl in clients %}
        <tr>
            <td>{{ cl.shortname }}</td>
            {% for month in refmonths %}
            <td>
                <a href="{{ request.route_path('invoice', factoryname=factoryname, clientname=cl.shortname, refmonth=month) }}"><img title="Aperçu de la facture" alt="pdf icon" src="{{ request.static_path('eclair:static/img/eye-icon-64px.png') }}" /></a>
                <a href="{{ request.route_path('invoice', factoryname=factoryname, clientname=cl.shortname, refmonth=month) }}?format=pdf"><img title="Facture PDF" alt="pdf icon" src="{{ request.static_path('eclair:static/img/pdf17-64px.png') }}" /></a>
            </td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock content %}
