{% extends "layout.jinja2" %}

{% block customcss %}
<style>
#invoice {
    max-width: 800px;
}
#invoice table {
    width: 100%;
}
.legal-info {
    white-space: pre;
}
</style>
{% endblock customcss %}

{% block content %}
<aside>
    <div>
        <a class="button" href="?format=pdf">Version PDF</a></li>
    </div>
</aside>

<h2>Aperçu de la facture de {{ factoryname }} pour {{ clientname }} ({{ date|date('month') }})</h2>

<article id="invoice">
    
    <section id="header">
        <span style="float: left;"><strong>Date&nbsp;:</strong> {{ date|date('short') }}</span>
        <span style="float: right;"><strong>N° de facture&nbsp;:</strong> {{ reference }}</span>
    </section>

<hr style="visibility: hidden; clear: both;"/>

    <section id="emitter" style="float: left;">
        <strong>Fournisseur</strong>
        <div class="legal-info">{{ seller }}</div>
    </section>
    <section id="recipient" style="float: right;">
        <strong>Client</strong>
        <div class="legal-info">{{ client }}</div>
    </section>

<hr style="visibility: hidden; clear: both;"/>

    <table>
        <thead>
            <tr>
                <th>Famille</th>
                <th>Article</th>
                <th>Volume</th>
                <th>PU&nbsp;(HT)</th>
                <th>Total&nbsp;(HT)</th>
                <th>TVA</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="6"></th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2">
                    <ul>
                    {% for key, value in vat_rates.items() %}
                        <li>TVA {{ key }} = {{ value }}%</li>
                    {% endfor %}
                    </ul>
                </td>
                <th colspan="2">Total&nbsp;HT</th>
                <td colspan="2" class="price">{{ total_excl_vat | price }}€</td>
            </tr>
            <tr>
                <th colspan="2">TVA</th>
                <td colspan="2" class="price">{{ total_vat_amount | price }}€</td>
            </tr>
            <tr>
                <th colspan="2">Total&nbsp;TTC</th>
                <td colspan="2" class="price"><strong>{{ total_incl_vat | price }}€</strong></td>
            </tr>
        </tfoot>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.category }}</td>
                <td>{{ item.name }}</td>
                <td class="quantity">{{ item.quantity|quantity }}</td>
                <td class="price">{{ item.unit_price|price }}€</td>
                <td class="price">{{ item.price_excl_vat|price }}€</td>
                <td>{{ item.vat_rate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>

{% endblock content %}
