<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Facture ECLAIR</title>
<style>
    @page {
        size: A4;
        @bottom-right {
            content: "Page " counter(page) "/" counter(pages);
        }
        @bottom-left {
            content: "Facture {{ invoice.reference }}";
            color: #222;
        }
    }
    html {
        font-size: 7pt;
    }
    td, th {
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid;
    }
    thead {
        display: table-header-group;
    }
    th {
        font-weight: bold;
        background-color: #9999ff;
    }
   /* td { line-height: 30pt; }*/
    .textRight {
        text-align:right;
    }
    .textRight, .pre {
        white-space: pre;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .main {
        margin-top: 80px;
    }
    .even {
        background-color: #f7f4f4;
    }
</style>
</head>
<body>
    <div>
        <div class="left">
            <strong>Date&nbsp;:</strong> {{ invoice.date|date('short') }}<br />
            <strong>Fournisseur&nbsp;:</strong><br />
            <span class="pre">{{ invoice.seller }}</span>
        </div>
        <div class="right">
            <p>
                <strong>N° de facture:</strong> {{ invoice.reference }}<br />
                <strong>Client&nbsp;:</strong><br />
                <span class="pre">{{ invoice.client }}</span>
        </div>
    </div>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Famille</th>
                    <th rowspan="2">Article</th>
                    <th rowspan="2">Vol.</th>
                    <th colspan="2">Prix HT</th>
                    <th rowspan="2" width="10%">T</th>
                </tr>
                <tr>
                    <th width="10%">U.</th>
                    <th width="10%">T.</th>
                </tr>
            </thead>
            <tbody>
{% for item in invoice["items"]  %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td style="text-align: left;">{{ item.category }}</td>
                    <td style="text-align: left;">{{ item.name }}</td>
                    <td style="text-align: right;">{{ item.quantity | quantity }}</td>
                    <td style="text-align: right;">{{ item.unit_price | price }}&euro;</td>
                    <td style="text-align: right;">{{ (item.price_excl_vat) | price }}&euro;</td>
                    <td style="text-align: left;">{{ item.vat_rate }}</td>
                </tr>
{% endfor %}
                <tr>
                    <td style="text-align: left;" colspan="2" rowspan="3">
                    <ul>{% for key, value in invoice["vat_rates"].items() %}<li>TVA {{ key }}={{ value }}%</li>{% endfor %}</ul>
                    </td>
                    <td colspan="2"><strong>Total HT</strong></td>
                    <td style="text-align: right;" colspan="2">{{ invoice.total_excl_vat | price }}&euro;</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>TVA</strong></td>
                    <td style="text-align: right;" colspan="2">{{ invoice.total_vat_amount | price }}&euro;</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Total TTC</strong></td>
                    <td style="text-align: right;" colspan="2">{{ invoice.total_incl_vat | price }}&euro;</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
