<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mini ERP">
  <meta name="author" content="Soubil">
  <link rel="shortcut icon" href="{{request.static_path('eclair:static/img/pitr-bakery-croissant-64px.png')}}">

  <title>Éclair v{{ request.registry.settings.get('app_version') }}</title>

  <link href="{{request.static_path('eclair:static/eclair.css')}}" rel="stylesheet">
{% block customcss %}{% endblock customcss %}
</head>

<body>

  <header id="main-header">
    <nav id="main-nav">
      <ul>
        <li><a href="{{ request.route_path('home') }}">Accueil</a></li>
        <li><a href="{{ request.route_path('logout') }}">Logout</a></li>
      </ul>
    </nav>

    <div id="nav-trigger"><img alt="burger button" src="{{request.static_path('eclair:static/img/menu-icon-white-20px.png')}}"/></div>
  </header>

  <main>
    {% if request.session.peek_flash() %}
    <div class="error">
        <p>{{ request.session.pop_flash()[0] | safe }}</p>
    </div>
    {% endif %}
    {% block content %}
        <p>No content</p>
    {% endblock content %}
  </main>

  <script src="{{request.static_path('eclair:static/polyfills.js')}}"></script>
  <script src="{{request.static_path('eclair:static/eclair.js')}}"></script>
{% block customjs %}{% endblock customjs %}
</body>
</html>
