<!DOCTYPE html>
<html>
<head>
	<title>Éclair v{{ request.registry.settings.get('app_version') }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{{request.static_path('eclair:static/img/pitr-bakery-croissant-64px.png')}}" />
	<link rel="stylesheet" href="{{request.static_path('eclair:static/eclair.css')}}" />
</head>
<body>
	
	<section id="login-form">
		<div style="text-align: center;">
			<img src="{{request.static_path('eclair:static/img/pitr-bakery-croissant-64px.png')}}" />
		</div>
		{% if request.session.peek_flash() %}
		<div class="error">
			<p>{{ request.session.pop_flash()[0] }}</p>
		</div>
		{% endif %}
		<form action="{{request.route_path('login')}}" method="POST">
			<div>
				<input name="username" type="text" placeholder="Identifiant"/>
			</div>
			<div>
				<input name="password" type="password" placeholder="Mot de passe"/>
			</div>
			<div>
				<button type="submit">Connexion</button>
			</div>
<!--
			<div style="text-align: center;">
				<a href="#">J'ai perdu mon mot de passe</a>
			</div>
-->
		</form>
	</section>

	<script src="{{request.static_path('eclair:static/eclair.js')}}"></script>
	<script>
document.querySelector('input[name=username]').focus();
	</script>
</body>
</html>
