{% extends "layout.jinja2" %}

{% block customcss %}
<style type="text/css">
table input[type=number] {
    max-width: 3rem;
    max-height: 3rem;
    min-height: 2rem;
    border: none;
    background-color: transparent;
}
tbody td {
    padding: 0 0.3rem;
}
table input:focus {
    background-color: white;
}
</style>
{% endblock customcss %}
{% block content %}
<h2>Commandes de {{ clientname }}</h2>


<nav>
    <ul>
        <li><a class="button" href="{{ prev_week }}">&lt;&lt; <strong>-7j</strong></a></li>
        <li><a class="button" href="{{ prev_refdate }}">&lt; <strong>-1j</strong></a></li>
        
        <li><a class="button" href="{{ next_refdate }}"><strong>+1j</strong> &gt;</a></li>
        <li><a class="button" href="{{ next_week }}"><strong>+7j</strong> &gt;&gt;</a></li>
    </ul>
</nav>

<section>
  <div>
    <table id="order-matrix" data-clientname="{{ clientname }}">
      <thead>
        <tr>
          <th rowspan="2">Sous-Fam.</th>
          <th rowspan="2">Article</th>
          {% for refdate in refdates %}
          <th data-refdate="{{ refdate }}">{{ refdate|date('E')|first }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for refdate in refdates %}
          <th><a href="{{ request.route_path('order', clientname=clientname, refdate=refdate) }}">{{ refdate|date('d/M') }}</a></td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for ref,l in lines.items() %}
        {% set outer_loop = loop %}
        <tr data-product-id="{{ l.product.id }}" style="background-color: {{ l.product.subcategory.category.display_color or '#000000' }}40;">
            <td>{{ l.product.subcategory_name }}</td>
            <td>{{ l.product.shortname }}</td>
            {% for refdate in refdates %}
                {% if l[refdate].editable %}
            <td><input id="qty_{{ outer_loop.index }}_{{ loop.index }}" class="quantity" type="number" min="0" step="0.5" value="{{ (l[refdate].quantity_ordered or None)|quantity }}" /></td>
                {% else %}
            <td class="quantity">{{ (l[refdate].quantity_ordered or None)|quantity }}</td>
                {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/order_week.js')}}"></script>
{% endblock customjs %}
