{% extends "layout.jinja2" %}

{% block customcss %}
<style>
@media print {
    td input {
        border-width: 0;
        background-color: transparent;
        min-height: 1rem !important;
    }
}
</style>
{% endblock customcss %}
{% block content %}

<nav>
    <ul>
        <li><a class="button" href="{{ prev_refdate }}">&lt;&lt; <strong>{{ prev_refdate | date('medium') }}</strong></a></li>
        <li><strong>{{ refdate | date('medium') }}</strong></li>
        <li><a class="button" href="{{ next_refdate }}"><strong>{{ next_refdate | date('medium') }}</strong> &gt;&gt;</a></li>
    </ul>
</nav>
<aside>
    <div>
        <a class="button" href="{{ request.route_path('orders', clientname=clientname, refdate=refdate) }}">Vue globale</a>
    </div>
    <div>
        <a class="button" href="{{ request.route_path('orderlinecustomproduct.add', clientname=clientname, refdate=refdate) }}">Article&nbsp;spécial</a>
    </div>
    <div>
        <hr />
        <strong>Copier une commande</strong>
        <div>
            <input type="date" max="{{ prev_refdate|date('yyyy-MM-dd') }}" />
            <button id="copy-order-from">Copier depuis</button>
        </div>
        <hr />
        <div>
            <input type="date" min="{{ today|date('yyyy-MM-dd') }}" />
            <button id="copy-order-to">Copier vers</button>
        </div>
    </div>
</aside>


<h2>Commande de {{ clientname }} pour livraison le {{ refdate | date('medium') }}</h2>

<section id="order-view" data-clientname="{{ clientname }}" data-refdate="{{ refdate }}">
    <table>
        <thead>
            <tr>
                <th>Sous-Fam.</th>
                <th>Article</th>
                <th>Qté.</th>
                <th class="noprint"></th>
                <th class="noprint"></th>
            </tr>
        </thead>
        <tbody>
        {% if customproducts %}
            {% for customproduct in customproducts %}
            <tr data-orderlinecustomproduct-id="{{ customproduct.id }}" style="background-color: {{ customproduct.category.display_color or '#000000' }}40">
                <td>{{ customproduct.category_name }}</td>
                <td><a href="{{ request.route_path('orderlinecustomproduct', id=customproduct.id) }}">{{ customproduct.display_label() }}</a></td>
                <td class="cell-qty">
                    <input disabled="disabled" class="quantity" type="number" value="{{ customproduct.quantity_ordered }}" min="0" data-val="{{ customproduct.quantity_ordered }}" />
                </td>
                <td class="noprint"><button disabled="disabled" class="btn-decrease">-</button></td>
                <td class="noprint"><button disabled="disabled" class="btn-increase">+</button></td>
            </tr>
            {% endfor %}
        {% endif %}
        {% for product_id, p in products.items() %}
            <tr data-product-id="{{ p.id }}" style="background-color: {{ p.subcategory.category.display_color or '#000000' }}40;">
                <td>{{ p.subcategory_name }}</td>
                <td>{{ p.shortname }}</td>
                <td class="cell-qty">
                    <input class="quantity" type="number" value="{{ p.quantity_ordered|quantity }}" min="0" step="0.5" data-val="{{ p.quantity_ordered }}" />
                </td>
                <td class="noprint"><button class="btn-decrease">-</button></td>
                <td class="noprint"><button class="btn-increase">+</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/order_edit.js')}}"></script>
<script src="{{request.static_path('eclair:static/js/order_display.js')}}"></script>
{% endblock customjs %}
