{% extends "layout.jinja2" %}

{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
    vertical-align: top;
    line-height: 3rem;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}

{% block content %}
<aside>
    {% if 'superadmin' in request.session.userdata.rolenames %}
    <div>
        <a class="button" href="?edit=true">Modifier</a>
    </div>
    {% endif %}
    <div>
        <button id="btn-print">
            <img alt="Printer icon" src="{{ request.static_path('eclair:static/img/primary-kdeprint-printer-64px.png') }}" />
        </button>
    </div>
</aside>
<h2>Commande spéciale</h2>
<section>
    <p>Commande spéciale de {{ clientname }} pour livraison le {{ refdate | date('medium') }}</p>
    <form action="{{ request.route_path('orderlinecustomproducts', clientname=clientname, refdate=refdate) }}" method="POST">
        <input type="hidden" name="id" value="{{ orderlinecustomproduct.id or '' }}" />
        <input type="hidden" name="quantity_ordered" value="{{ orderlinecustomproduct.quantity_ordered or 1 }}" />
        <div>
            <label>
                <strong>Référence</strong>
                <span>{{ orderlinecustomproduct.reference() }}</span>
            </label>
        </div>
        <div>
            <label>
                <strong>Libellé</strong>
                <span>{{ orderlinecustomproduct.productname or '???' }}</span>
            </label>
        </div>
        <div>
            <label>
                <strong>Famille</strong>
                <span>{{ orderlinecustomproduct.category.name or '???' }}</span>
            </label>
        </div>
        <div>
            <label>
                <strong>Prix de vente</strong>
                <span>{{ orderlinecustomproduct.price|price or '???' }}€</span>
            </label>
        </div>
        <div>
            <label>
                <strong>Description</strong>
                <span style="white-space: pre;">{{ orderlinecustomproduct.description or '' }}</span>
            </label>
        </div>
    </form>
</section>
{% endblock content %}
{% block customjs %}
{% endblock customjs %}
