{% extends "layout.jinja2" %}

{% block customcss %}
<style>
.price {
    text-align: right;
}
</style>
{% endblock customcss %}
{% block content %}

<aside>
{% if 'superadmin' in request.userdata.get('rolenames') %}
    Commande verrouillée. <a class="button" href="?edit=true">Modifier malgré tout</a>
{% endif %}
    <div>
        <a class="button" href="{{ request.route_path('orders', clientname=clientname, refdate=refdate) }}">Vue globale</a>
    </div>
    <div>
        <div>
            <input type="date" min="{{ today|date('yyyy-MM-dd') }}" />
            <button id="copy-order-to">Copier vers</button>
        </div>
    </div>
</aside>
<nav>
    <ul>
        <li><a class="button" href="{{ prev_refdate }}">&lt;&lt; <strong>{{ prev_refdate | date('medium') }}</strong></a></li>
        <li><strong>{{ refdate | date('medium') }}</strong></li>
        <li><a class="button" href="{{ next_refdate }}"><strong>{{ next_refdate | date('medium') }}</strong> &gt;&gt;</a></li>
    </ul>
</nav>

<h2>Commande de {{ clientname }} pour livraison le {{ refdate | date('medium') }}</h2>

<section id="order-view" data-clientname="{{ clientname }}" data-refdate="{{ refdate }}">
    <table>
      <thead>
        <tr>
          <th>Sous-Fam.</th>
          <th>Article</th>
          <th>Qté.</th>
        </tr>
      </thead>
      <tbody>
      {% if customproducts %}
          {% for customproduct in customproducts %}
          <tr data-orderlinecustomproduct-id="{{ customproduct.id }}" style="background-color: {{ customproduct.category.display_color or '#000000' }}40">
              <td>{{ customproduct.category_name }}</td>
              <td>{{ customproduct.display_label() }}</td>
              <td class="cell-qty">{{ customproduct.quantity_ordered|quantity }}</td>
          </tr>
          {% endfor %}
      {% endif %}
      {% for product_id, p in products.items() %}
        <tr data-product-id="{{ p.id }}"{{ ' class="empty"'|safe if not p.quantity_ordered or p.quantity_ordered == 0  }} style="background-color: {{ p.subcategory.category.display_color or '#000000' }}40;">
          <td>{{ p.subcategory_name }}</td>
          <td>{{ p.shortname }}</td>
          <td class="cell-qty">{{ p.quantity_ordered|quantity }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</section>
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/order_display.js')}}"></script>
{% endblock customjs %}
