{% extends "layout.jinja2" %}

{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
    vertical-align: top;
    line-height: 3rem;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}

{% block content %}

<section>
    <h2>Ajouter un article hors-catalogue</h2>
    <p>Commande de {{ clientname }} pour livraison le {{ refdate | date('medium') }}</p>
    <form action="{{ request.route_path('orderlinecustomproducts', clientname=clientname, refdate=refdate) }}" method="POST">
        <input type="hidden" name="id" value="{{ orderlinecustomproduct.id or '' }}" />
        <input type="hidden" name="quantity_ordered" value="{{ orderlinecustomproduct.quantity_ordered or 1 }}" />
{% if orderlinecustomproduct.id %}
        <div>
            <label>
                <strong>Référence</strong>
                <span>{{ orderlinecustomproduct.reference() }}</span>
            </label>
        </div>
{% endif %}
        <div>
            <label>
                <strong>Libellé</strong>
                <input type="text" name="productname" placeholder="Article" value="{{ orderlinecustomproduct.productname or '' }}" required="required" maxlength="50" />
            </label>
        </div>
        <div>
            <label>
                <strong>Famille</strong>
                <select name="category_name" required="required">
                    <option></option>
                    {% for cat in categories %}
                    <option value="{{ cat.name }}" {{ 'selected="selected"' if cat.name == orderlinecustomproduct.category_name }}>({{ cat.production_center.shortname }}) {{ cat.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                <strong>Prix de vente</strong>
                <input type="number" name="price" value="{{ orderlinecustomproduct.price }}" step="0.01" min="0" required="required" />
            </label>
        </div>
        <div>
            <label>
                <strong>Description</strong>
                <textarea name="description">{{ orderlinecustomproduct.description or '' }}</textarea>
            </label>
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</section>
{% endblock content %}
{% block customjs %}
{% endblock customjs %}
