{% extends "layout.jinja2" %}

{% block customcss %}
<style>
td img {
  max-height: 1rem;
}
tr.disabled * {
  color: grey;
}
#products {
    max-width: 840px;
}
</style>
{% endblock customcss %}
{% block content %}
<aside>
  <div id="filters">
    <h2>Filtres</h2>
    <div>
      <strong>Centre de production</strong>
      <select id="filter-production-center">
        <option></option>
      {% for pc in production_centers %}
        {% if pc.shortname == request.matchdict.factoryname %}
        <option value="{{ pc.shortname }}" selected="selected">{{ pc.shortname }}</option>
        {% else %}
        <option value="{{ pc.shortname }}">{{ pc.shortname }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </div>
  </div>

  <hr />
  <div id="create-product">
      <a class="button" href="{{ request.route_path('product', reference='new') }}">Créer un nouveau produit</a>
      <a class="button" href="{{ request.route_path('product_category', categoryname='new') }}">Créer une nouvelle famille</a>
  </div>
</aside>

  <section id="products">
    <table>
      <thead>
        <tr>
          <th>Fam.</th>
          <th>S-Fam.</th>
          <th>Nom</th>
          <th>Prod.</th>
          <th title="Prix unitaire HT">Prix</th>
          <th>Clients</th>
        </tr>
      </thead>
      <tbody>
      {% for p in products %}
        <tr{{ ' class="disabled"' | safe if not p.enabled }} style="background-color: {{ p.subcategory.category.display_color or '#000000' }}40;">
          <td><a href="{{ request.route_path('product_category',    categoryname=p.subcategory.category_name) }}">{{ p.subcategory.category_name }}</a></td>
          <td><a href="{{ request.route_path('product_subcategory', categoryname=p.subcategory.category_name, subcategoryname=p.subcategory_name) }}">{{ p.subcategory_name }}</a></td>
          <td>
            <a href="{{ request.route_path('product', reference=p.reference) }}">{{ p.shortname }}</a>
            {% if p.validity_startdate or p.validity_enddate %}
            <img title="{{ 'Du ' + p.validity_startdate | date + ' au ' + p.validity_enddate | date  }}" alt="calendar icon" src="{{ request.static_path('eclair:static/img/calendar_1377698748-64px.png') }}"/>
            {% endif %}
          </td>
          <td>
            {% if not p.subcategory.category.production_center.factory %}
            <img class="warning-icon" alt="warning" src="{{ request.static_path('eclair:static/img/warning-128px.png') }}" title="Pas un centre de production" />
            {% endif%}
            <span class="workplacename">{{ p.subcategory.category.production_center.shortname }}</span>
          </td>
          <td class="price">{{ p.price | price }}€</td>
          <td>
          {% for cl in p.clients %}
            <span class="workplacename">{{ cl.shortname }}</span>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/products.js')}}"></script>
{% endblock customjs %}
