{% extends "layout.jinja2" %}

{% block content %}

<h2><a href="{{ request.route_path('product_category', categoryname=subcategory.category_name) }}">{{ subcategory.category_name }}</a> - {{ subcategory.name }}</h2>

<div id="products">
    <table>
        <thead>
            <tr>
                <th>Réf.</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Clients</th>
            </tr>
        </thead>
        <tbody>
        {% for p in subcategory.products %}
            <tr>
                <td><a href="{{ request.route_path('product', reference=p.reference) }}">{{ p.reference }}</a></td>
                <td>{{ p.longname }}</td>
                <td class="price">{{ p.price|price }}€</td>
                <td>
                {% for wp in p.clients %}
                    <span class="workplacename">{{ wp.shortname }}</span>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
