{% extends "layout.jinja2" %}
{% block content %}

<h2>Plans de production de <span>{{ factoryname }}</span></h2>
{% if not orderlines %}
<p>Aucune commande pour ce jour.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Réf.</th>
            <th>Article</th>
            {% for date in refdates %}
            <th>{{ date }}</th>
            {% endfor%}
        </tr>
    </thead>
    <tbody>
{% for l in orderlines %}
        <tr>
            <td>{{ l.product.reference }}</td>
            <td>{{ l.product.shortname }}</td>
            {% for q in l.quantities %}
            <td class="quantity">
                {{ q | quantity if q }}
            </td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/production_plan.js')}}"></script>
{% endblock customjs %}
