{% extends "layout.jinja2" %}
{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
    vertical-align: top;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}
{% block content %}

<h2>{{ category.name }}</h2>

<nav>
    <ul>
        <li><a class="button" href="#" onclick="history.back()">Retour</a></li>
    </ul>
</nav>

<article data-categoryname="{{ category.name }}">
    <form action="" method="POST">
        <div>
            <label>
                <strong>Nom</strong>
                <input type="text" name="name" value="{{ category.name }}" required="required" pattern="[A-Za-z][A-Za-z0-9_-]+" title="Saisissez un nom sans espace commançant par une lettre. La suite peut comporter des chiffres et des tirets." />
            </label>
        </div>
        <div>
            <label>
                <strong>Description</strong>
                <textarea name="description">{{ category.description or '' }}</textarea>
            </label>
        </div>
         <div>
            <label>
                <strong>TVA</strong>
                <input type="number" name="vatrate" step="0.01" placeholder="5.5" required="required" value="{{ category.vatrate}}" />
            </label>
        </div>
        <div>
            <label>
                <strong>Centre de production</strong>
                <select name="production_center_id">
                {% for wp in available_production_centers %}
                    <option value="{{ wp.id }}"{{ 'selected="selected"' if wp.id == category.production_center_id }}>{{ wp.shortname }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                <strong>Couleur</strong>
                <input type="color" name="display_color" value="{{ category.display_color }}" />
            </label>
        </div>
        <div>
            <button type="submit">Enregistrer</button>
        </div>

    </form>
{% if request.matchdict.categoryname != 'new' %}
    <hr />

    <section id="subcategories">
        <div>
            <input type="text" placeholder="Sous-famille" value=""  pattern="[A-Za-z][A-Za-z0-9_-]+" title="Saisissez un nom sans espace commançant par une lettre. La suite peut comporter des chiffres et des tirets." />
            <button id="btn-create-subcategory">Créer</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Sous-famille</th>
                    <th>Nombre d'articles</th>
                </tr>
            </thead>
            <tbody>
            {% for subcat in category.subcategories %}
                <tr>
                    <td><a href="{{ request.route_path('product_subcategory', categoryname=category.name, subcategoryname=subcat.name) }}">{{ subcat.name }}</a></td>
                    <td>{{ subcat.products|length }} articles</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endif %}
</article>

{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/product_category.js')}}"></script>
{% endblock customjs %}
