{% extends "layout.jinja2" %}

{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}
{% block content %}
<form action="" method="POST">
    <div>
        <label>
            <strong>Référence</strong>
            <input id="product-reference" type="text" name="reference" {{ 'readonly="readonly"' if request.matchdict.reference != 'new' }} value="{{ product.reference }}" placeholder="Référence" required="required" readonly="readonly" maxlength="20" />
        </label>
        {% if request.matchdict.reference == 'new' %}
        <label>
            <input id="autogen-reference" type="checkbox" checked="checked" value="1" />
            <span>Autogénérée</span>
        </label>
        {% endif %}
    </div>
    <div>
        <label>
            <strong>Nom</strong>
            <input id="product-name" type="text" name="shortname" placeholder="Nom" value="{{ product.shortname }}" maxlength="50" />
        </label>
    </div>
    <div>
        <label>
            <strong>Prix HT</strong>
            <input type="number" name="price" placeholder="Prix HT (en €)" value="{{ product.price | price if product }}" step="0.01" min="0" required="required" />
        </label>
    </div>
    <div>
        <label>
            <strong>Sous-famille</strong>
            <select id="subcategory-selector" name="subcategory_name" required="required">
                <option></option>
                {% for subcat in subcategories %}
                <option data-factoryname="{{ subcat.category.production_center.shortname }}" value="{{ subcat.name }}" {{ 'selected="selected"' if subcat.name == product.subcategory_name }}>{{ subcat.category_name }} - {{ subcat.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div>
        <label>
            <strong>Période de validité</strong>
            <label>
                <span>Début</span>
                <input type="date" name="validity_startdate" value="{{ product.validity_startdate|date('form') }}" />
            </label>
            <label>
                <span>Fin</span>
                <input type="date" name="validity_enddate"   value="{{ product.validity_enddate|date('form') }}" />
            </label>
        </label>
    </div>
    <div>
        <label>
            <strong>Affichage au catalogue</strong>
            <label>
                <input type="checkbox" name="enabled" value="true" {{ 'checked="checked"' if product.enabled or product == None }} />
                <span>Actif</span>
            </label>
        </label>
    </div>
    <div>
        <label>
            <strong>Clients</strong>
            {% for cl in possible_clients %}
            <label>
                <input type="checkbox" name="clients" value="{{ cl.shortname }}" {{ 'checked="checked"' if product and product.has_client(cl.shortname) }} />
                <span>{{ cl.shortname }}</span>
            </label>
            {% endfor %}
        </label>
    </div>
    <div>
        <button type="submit">Enregistrer</button>
    </div>
</form>
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/product_edit.js')}}"></script>
{% endblock customjs %}
