{% extends "layout.jinja2" %}
{% block customcss %}
<style type="text/css">
.orig {
    font-weight: bold;
}
.product-categoryname {
    display: inline-block;
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
    background-color: #cde;
}
</style>
{% endblock customcss %}
{% block content %}
<aside>
    <div>
        <button id="btn-print">
            <img alt="Printer icon" src="{{ request.static_path('eclair:static/img/primary-kdeprint-printer-64px.png') }}" />
        </button>
    </div>
    <div>
        <button id="btn-reload">Rafraîchir</button>
    </div>
    <div>
        {% if 'superadmin' not in request.session.userdata.rolenames %}
        {% if not request.params.allcats == 'true' %}
        <span>Seules les familles suivantes sont affichées&nbsp;:</span>
        <ul>
        {% for cat in request.session.userdata.product_categorynames %}
            <li><span class="product-categoryname">{{ cat }}</span></li>
        {% endfor %}
        </ul>
        <a class="button" href="?allcats=true">Afficher toutes les familles de produits</a>
        {% else %}
        <a class="button" href="?allcats=false">Afficher seulement mes familles de produits</a>
        {% endif %}
        {% endif %}
    </div>
    {% if custom_products_planning %}
    <strong>Prochaines commandes spéciales&nbsp;:</strong>
    <div>
        <ul>
        {% for cp in custom_products_planning %}
            <li>
                (Pour {{ cp.order.client.shortname }} le {{ cp.order.refdate|date }}) {{ cp.category_name }}
                <strong>{{ cp.productname }}</strong>
                <a href="{{ request.route_path('orderlinecustomproduct', id=cp.id) }}">{{ cp.reference() }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</aside>
<nav>
    <ul>
        <li><a class="button" href="{{ prev_refdate }}">&lt;&lt; <strong>{{ prev_refdate | date('medium') }}</strong></a></li>
        <li><strong>{{ refdate | date('medium') }}</strong></li>
        <li><a class="button" href="{{ next_refdate }}"><strong>{{ next_refdate | date('medium') }}</strong> &gt;&gt;</a></li>
    </ul>
</nav>
<h2>Plan de production de <span>{{ factoryname }}</span> du <span>{{ refdate | date('medium') }}</span></h2>
{% if not orderlines and not customproducts %}
<p>Aucune commande pour ce jour.</p>
{% else %}
{% if lock_delay > 0 %}
<p class="warning" data-lock-delay={{ lock_delay }}>
    <img class="warning-icon" alt="warning" src="{{ request.static_path('eclair:static/img/warning-128px.png') }}" title="Attention" />
    <em>Attention, les commandes affichées ici ne sont pas encore finalisées.<br/> Il est {{ now|datetime('HH:mm') }}, elles ne seront définitives qu'à {{ orderlockdate|datetime('HH:mm') }}</em>
</p>
{% else %}
<p>État des commandes à {{ now|datetime('HH:mm') }}</p>
{% endif %}
{% if customproducts %}
<table class="noprint">
    <caption>Commandes spéciales</caption>
    <thead>
        <tr>
            <th>Famille</th>
            <th>Article</th>
            <th>Client</th>
            <th>Réf.</th>
        </tr>
    </thead>
    <tbody>
{% for cp in customproducts %}
        <tr style="background-color: {{ cp.category.display_color or '#000000' }}40">
            <td>{{ cp.category.name }}</td>
            <td>{{ cp.productname }}<br/><em style="white-space: pre-wrap;">{{ cp.description }}</em></td>
            <td>{{ cp.order.client.shortname }}</td>
            <td><a href="{{ request.route_path('orderlinecustomproduct', id=cp.id) }}">{{ cp.reference() }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% if orderlines %}
<table>
    <thead>
        <tr>
            <th>Sous-Fam.</th>
            <th>Article</th>
            <th>Total</th>
            {% for cl in clients %}
            <th{{ ' class="orig"' | safe if cl.startswith('Hors') }}>{{ cl }}</th>
            {% endfor%}
        </tr>
    </thead>
    <tbody>
{% for l in orderlines %}
        <tr style="background-color: {{ l.product.subcategory.category.display_color or '#000000' }}40">
            <td>{{ l.product.subcategory_name }}</td>
            <td>{{ l.product.shortname }}</td>
            <td class="quantity"><strong>{{ l.total | quantity }}</strong></td>
            {% for q in l.quantities %}
            <td class="quantity{{ ' orig' if clients[loop.index-1].startswith('Hors') }}">{{ q | quantity if q }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/production_plan.js')}}"></script>
{% endblock customjs %}
