{% extends "layout.jinja2" %}

{% block content %}

<aside>
    <a class="button" href="{{ request.route_path('product_category',    categoryname='new') }}">Créer une nouvelle famille</a>
</aside>
<ul>
{% for cat in categories %}
    <li style="background-color: {{ cat.display_color or '#000000' }}40">
        <a href="{{ request.route_path('product_category', categoryname=cat.name) }}">{{ cat.name }}</a>
        <ul>
    {% for subcat in cat.subcategories %}
            <li>
                <a href="{{ request.route_path('product_subcategory', subcategoryname=subcat.name|urlencode) }}">{{ subcat.name }}</a>
            </li>
    {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock content %}
