{% extends "layout.jinja2" %}

{% block customcss %}
<style type="text/css">
.rolename {
    border: 1px solid #e0e070;
    background-color: #eded77;
    padding: 0.1rem 0.5rem;
    border-radius: 2px;
}
.permname {
  display: inline-block;
  background-color: #bbd;
  border: 1px solid #99d;
  border-radius: 3px;
  padding: 0.1rem 0.3rem;
  margin: 0.1rem 0.1rem;
}
</style>
{% endblock customcss %}

{% block content %}
Édition du rôle <span class="rolename" id="rolename" data-rolename={{ role.rolename }}>{{ role.rolename }}</span>
<section id="assigned-roles">
  <h2>Permissions actuelles</h2>
  <ul>
  {% for p in role.permissions %}
  <li><a href="#" data-permname="{{p}}">Retirer</a> <span class="permname">{{p}}</span></li>
  {% endfor %}
  </ul>
</section>
<section id="available-roles">
  <h2>Permissions disponibles</h2>
  <ul>
  {% for p in permissions %}
  <li><a href="#" data-permname="{{p}}">Ajouter</a> <span class="permname">{{p}}</span></li>
  {% endfor %}
  </ul>
</section>
{% endblock content %}
{% block customjs %}
<script>
// Polyfill START (cf. https://developer.mozilla.org/en-US/docs/Web/API/Element/closest )
if (!Element.prototype.matches) {
    Element.prototype.matches = Element.prototype.msMatchesSelector ||
                                Element.prototype.webkitMatchesSelector;
}

if (!Element.prototype.closest) {
    console.warn("Polyfill executed");
    Element.prototype.closest = function(s) {
        var el = this;
        if (!document.documentElement.contains(el)) return null;
        do {
            if (el.matches(s)) return el;
            el = el.parentElement || el.parentNode;
        } while (el !== null);
        return null;
    };
}
// Polyfill END

function add_role(evt) {
  var btn = evt.target;
  var rolename = document.querySelector('#rolename').dataset.rolename;
  var permname = btn.dataset.permname;
  eclairAjax({
    url: route_path('role_permissions'),
    method: 'POST',
    data: JSON.stringify({"rolename": rolename, "permname": permname}),
    success: function(response) {
      if (response.success) {
        var tgt = document.querySelector('#assigned-roles ul');
        var src = document.querySelector('#available-roles ul');
        var li = btn.closest('li');
        var newli = document.createElement('li');
        newli.innerHTML = li.innerHTML;
        tgt.appendChild(newli);
        li.parentNode.removeChild(li);
        var newa = newli.querySelector('a');
        newa.innerText = 'Retirer';
        newa.addEventListener('click', remove_role);
      } else {
        alert("Operation failed");
      }
    },
  });
}

function remove_role(evt) {
  var btn = evt.target;
  var rolename = document.querySelector('#rolename').dataset.rolename;
  var permname = btn.dataset.permname;
  eclairAjax({
    url: route_path('role_permissions'),
    method: 'DELETE',
    data: JSON.stringify({"rolename": rolename, "permname": permname}),
    success: function(response) {
      if (response.success) {
        var tgt = document.querySelector('#available-roles ul');
        var src = document.querySelector('#assigned-roles ul');
        var li = btn.closest('li');
        var newli = document.createElement('li');
        newli.innerHTML = li.innerHTML;
        tgt.appendChild(newli);
        li.parentNode.removeChild(li);
        var newa = newli.querySelector('a');
        newa.innerText = 'Ajouter';
        newa.addEventListener('click', add_role);
      } else {
        alert("Operation failed");
      }
    },
  });
}

document.querySelectorAll('#available-roles li').forEach(function(item, i) {
  var button = item.querySelector('a');
  button.addEventListener('click', add_role);
});
document.querySelectorAll('#assigned-roles li').forEach(function(item, i) {
  var button = item.querySelector('a');
  button.addEventListener('click', remove_role);
});
setTimeout(function() { route_path('role_permissions')}, 100);
</script>
{% endblock customjs %}
