{% extends "layout.jinja2" %}

{% block content %}
  <section id="roles">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Rôle</th>
          <th>Permissions</th>
        </tr>
      </thead>
      <tbody>
      {% for r in roles %}
        <tr>
          <td><a class="button" href="{{ request.route_path('role', rolename=r.rolename) }}">Éditer</a></td>
          <td><span class="rolename">{{ r.rolename | translate_rolename }}</span></td>
          <td>
          {% for permname in r.permissions %}
            <span class="permname">{{ permname }}</span>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}
