{% extends "layout.jinja2" %}
{% block customcss %}
<style type="text/css"><!--
form {
    width: 80%;
    max-width: 600px;
    margin: auto;
}
form > div {
    margin: 0.5rem;
}
button[type=submit] {
    border-radius: 1px;
}
.hidden {
    display: none;
}
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
}
--></style>
{% endblock customcss %}
{% block content %}

<form action="" method="POST">
    <div>
        <label>
            <strong>Identifiant</strong>
            <input disabled="disabled" type="text" name="username" placeholder="Identifiant" value="{{user.username}}" />
        </label>
    </div>
<!--
    <div>
        <input type="text" name="screenname" placeholder="Nom" value="{{ user.screenname }}" />
    </div>
-->
    <div>
        <label>
            <strong>Mot de passe</strong>
            <input type="password" name="password" placeholder="Mot de passe" value="" />
        </label>
    </div>
<!--
    <div>
        <input type="email" name="email" placeholder="Adresse email" value="{{user.email}}" />
    </div>
-->
    <div>
        <label>
            <strong>Lieu de travail</strong>
            <select id="workplace-selector" name="workplace_id">
                <option value=""></option>
                {% for p in workplaces %}
                <option data-factory="{{ 'true'|safe if p.factory else 'false'|safe }}" value="{{ p.id }}" {{ 'selected="selected"' if p.id == user.workplace_id }}>{{ p.shortname }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div>
        <label>
            <strong>Rôle</strong>
            <select id="role-selector" name="roles">
            {% for r in available_roles %}
            <option value="{{ r.rolename }}" {{ 'selected="selected"' if user.has_role(r.rolename) }}>{{ r.rolename | translate_rolename }}</option>
            {% endfor %}
            </select>
        </label>
    </div>
    <div id="product-categories"{{ ' class="hidden"'|safe if not user.workplace.factory or not user.has_role('producer') }}>
        <label>
            <strong>Familles de produits</strong>
            {% for cat in available_product_categories %}
                <label{{ ' class="hidden"'|safe if not cat.production_center_id == user.workplace_id }}>
                    <input data-factoryname="{{ cat.production_center.shortname }}" type="checkbox" name="categorynames" value="{{ cat.name }}" {{ 'checked="checked"' if cat.name in user_product_categorynames }} />
                    <span>{{ cat.name }}</span>
                </label>
            {% endfor %}
        </label>
    </div>
    <div>
        <button type="submit">Enregister</button>
    </div>
</form>

{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/user_edit.js')}}"></script>
{% endblock customjs %}
