{% extends "layout.jinja2" %}
{% block customcss %}
<style type="text/css"><!--
span.rolename span { color: grey; font-family: monospace; cursor: pointer; }

#role-help {
    float: right;
    min-width: 250px;
    max-width: 400px;
    width: 20%;
    border: 2px dotted grey;
    padding: 0 1rem;
}
table#user-list {
    width: 70%;
}
--></style>
{% endblock customcss %}
{% block content %}
<!--
<div id="role-help">
    <p>Pour des raisons techniques les rôles sont des termes anglais.<br/>
    Voici leurs définitions respectives.
    </p>
    <dl>
        <dt><span class="rolename">producer</span></dt>
        <dd>Responsable de production</dd>
        <dt><span class="rolename">seller</span></dt>
        <dd>Responsable de boutique/magasin</dd>
        <dt><span class="rolename">carrier</span></dt>
        <dd>Responsable de livraison</dd>
        <dt><span class="rolename">admin</span></dt>
        <dd>Gestionnaire de réseau. A notamment la possibilité de modifier les informations concernants les boutiques, le catalogue d'articles, les comptes utilisateurs, etc.</dd>
        <dt><span class="rolename">superadmin</span></dt>
        <dd>Rôle permettant à un utilisateur d'accéder à toutes les pages de l'application.</dd>
    </dl>
</div>
-->
<div id="create-user">
    <input type="text" placeholder="Identifiant" />
    <button>Créer un nouvel utilisateur</button>
</div>
{% if users %}
<table id="user-list">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Rôle(s)</th>
            <th>Lieu de travail</th>
            <th></th>
        </tr>
    </thead>

    {% for u in users %}
        <tr data-username="{{ u.username }}">
            <td>{{ u.username }}</td>
            <td>
        {% for r in u.roles %}
                <span class="rolename">{{ r.rolename | translate_rolename }}
                <!-- <span data-delete-role="{{ r.rolename }}">X</span> -->
                </span>
        {% endfor %}
            </td>
            <td>
                {{ u.workplace.shortname }}
            </td>
            <td>
                <button class="btn-edit-user">Éditer</button>
                <button class="btn-delete-user">Suppr.</button>
            </td>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/users.js')}}"></script>
{% endblock customjs %}
