{% extends "layout.jinja2" %}
{% block customcss %}
<style>
label strong {
    display: inline-block;
    min-width: 8rem;
    width: 20%;
}
form div {
    margin: 1rem;
}
</style>
{% endblock customcss %}
{% block content %}
<form action="" method="POST">
    <div>
        <label>
            <strong>Nom court</strong>
            <input type="text" name="shortname" disabled="disabled" value="{{ workplace.shortname }}" />
        </label>
    </div>
    <div>
        <label>
            <strong>Nom complet</strong>
            <input type="text" name="name" placeholder="Nom complet" value="{{ workplace.name or '' }}" />
        </label>
    </div>
    <div>
        <label>
            <strong>Addresse</strong>
            <input type="text" name="address" placeholder="Adresse" value="{{ workplace.address or '' }}" />
        </label>
    </div>
    <div>
        <label>
            <strong>Infos légales</strong>
            <input type="text" name="description" placeholder="SIRET : XXXXX" value="{{ workplace.description or '' }}" />
        </label>
    </div>
    <div>
        <label>
            <strong>Rôles</strong>
        {% for rolename in possible_roles %}
            <label>
                <input type="checkbox" name="roles" value="{{ rolename }}" {{ 'checked="checked"' if workplace[rolename] }} />
                <span>{{ rolename | translate_rolename }}</span>
            </label>
        {% endfor %}
        </label>
    </div>
    <div>
        <label>
            <strong>Familles de produits</strong>
            {% for cat in workplace.categories %}
                <span><a href="{{ request.route_path('product_category', categoryname=cat.name) }}">{{ cat.name }}</a></span>
            {% endfor %}
        </label>
    </div>
    <div>
        <button type="submit">Enregistrer</button>
    </div>
    {% if workplace.factory or workplace.shop %}
    <div>
        <hr />
        <h2>Actions</h2>
        {% if workplace.factory %}
        <div>
            <a href="{{ request.route_path('production_plan', factoryname=workplace.shortname, refdate='tomorrow') }}">Plan de production de demain</a><br/>
            <a href="{{ request.route_path('delivery', factoryname=workplace.shortname, refdate='tomorrow') }}">Plan de livraison de demain</a><br/>
        </div>
        {% endif %}
        {% if workplace.shop %}
        <div>
            <a href="{{ request.route_path('orders', clientname=workplace.shortname, refdate='tomorrow') }}">Commandes de la semaine</a><br/>
        </div>
        {% endif %}
    </div>
    {% endif %}
</form>
{% endblock content %}
