{% extends "layout.jinja2" %}

{% block customcss %}
<style>
span.rolename {
    border: 1px solid #e0e070;
    background-color: #eded77;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
    border-radius: 2px;
    display: inline-block;
}
tbody td {
    vertical-align: top;
}
</style>
{% endblock customcss %}

{% block content %}

<div id="create-workplace">
    <input type="text" placeholder="Nom court" />
    <button>Créer</button>
</div>

<table>
    <thead>
        <tr>
            <th>Nom court</th>
            <th>Nom complet</th>
            <th>Rôles</th>
            <th>Compl.</th>
        </tr>
    </thead>
    <tbody>
    {% for w in workplaces %}
        <tr data-workplace-shortname="{{ w.shortname }}">
            <td>{{ w.shortname }}</td>
            <td style="white-space: pre-wrap">{{ w.legal_info() }}</td>
            <td>
            {% for r in w.roles() %}
                <span class="rolename">{{ r | translate_rolename }}</span>
            {% endfor %}
            </td>
            <td>
            {% for cat in w.categories %}
                <span><a href="{{ request.route_path('product_category', categoryname=cat.name) }}">{{ cat.name }}</a></span>
            {% endfor %}
            </td>
            <td><button class="btn-edit-workplace">Éditer</button></td>
            <td><button class="btn-delete-workplace">Suppr.</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
{% block customjs %}
<script src="{{request.static_path('eclair:static/js/workplaces.js')}}"></script>
{% endblock customjs %}
